<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="Marcus Whybrow">
    
    <link rel="author" href="https://plus.google.com/103832793361409130288/posts">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      // Google Analytics Code
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32722560-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Whybrow</a>

          <ul class="nav">
            <li{% if page.tab == "home" %} class="active"{% endif %}><a href="/">Home</a></li>
<!--             <li{% if page.tab == "updates" %} class="active"{% endif %}><a href="/updates/">Updates</a></li>
            <li{% if page.tab == "minecraft" %} class="active"{% endif %}><a href="/minecraft/">Minecraft</a></li> -->
          </ul>

          <ul id="status" class="up nav pull-right" >
            <li class="status-up"><a target="_blank" href="http://stats.pingdom.com/enapql952u8h/589573"><i class="icon-circle-arrow-up icon-white"></i> SERVERS UP</a></li>
            <li class="status-down"><a target="_blank" href="http://stats.pingdom.com/enapql952u8h/589573"><i class="icon-circle-arrow-down icon-white"></i> SERVERS DOWN</a></li>
          </ul>
        </div>
      </div>
    </div>

    {{content}}

    <!-- Scripts -->
    {% include scripts.html %}
    <script type="text/javascript">
      if (typeof jQuery != 'undefined') {
        $(function() {
          $('#status li a').popover({
            content: '<img src="http://share.pingdom.com/banners/74c574c2" alt="Uptime Report for Whybrow Services: Last 30 days" title="Uptime Report for Whybrow Services: Last 30 days" width="300" height="165" />',
            placement: 'bottom',
            title: 'Server Uptime',
            animation: false
          });

          var pingdomStatus = "http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20html%20where%20url%3D%22http%3A%2F%2Fstats.pingdom.com%2Fenapql952u8h%2F589573%22%20and%20xpath%3D%22%2F%2Fdiv%5B1%5D%2Fdiv%5B3%5D%2Fdiv%5B1%5D%2Fdiv%5B1%5D%2Fdiv%5B1%5D%22&format=json&callback=callback";

          $.ajax({
            url: pingdomStatus,
            dataType: 'jsonp',
            jsonp: false,
            jsonpCallback: 'callback',
            success: function(data) {
              var status;
              try {
                status = data.query.results.div.class;
              } catch (e) {}

              if (status != "up")
                $('#status').removeClass('up').addClass('down');
            }
          });

          // $.getJSON(pingdomStatus, function(data) {
          //   console.log(data);
          // });

        });
      } else {
        console.warn('jQuery is required and was not loaded. Some page elements may not appear. Sorry about that.');
      }
    </script>
  </body>
</html>